---
import BentoHome from "./BentoHome";
import Preview from "./Preview.astro";
---

<div class="container flex flex-col justify-center items-center">
  <h2 class="text-5xl xl:text-6xl font-bold mb-14">Showcase</h2>
  <Preview>
    <div class="flex justify-center items-center w-full h-fit">
      <BentoHome />
    </div>
  </Preview>
</div>
