---
import Hamburguer from "./Hamburguer.astro";
---

<navbar
  class="fixed inset-x-0 top-0 bg-neutral-100/60 text-neutral-700 py-6 border-b border-neutral-300/50 backdrop-blur-md z-20"
>
  <div class="container flex justify-between items-center gap-8">
    <a
      id="custom_logo"
      class="text-primary hover:text-secondary text-4xl font-bold leading-none group transition duration-300 ease-in-out"
      href="/"
      aria-label="Free components"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 405.93 363.53"
        width="50px"
        height="50px"
        class="hover:scale-125 hover:cursor-[none] transition duration-300 ease-in-out"
      >
        <path
          fill="#83ffff"
          class="group-hover:fill-secondary transition duration-300 ease-in-out"
          d="M.34 200.12c-3.64-28.35 23.13-49.33 20.84-74.84C-35.56-47.67 55.34-14.06 159.52 62.51c48.39-6.18 88.6 15.8 131.71 30.65 32.08.31 120.02-9.71 114.44 36.57-8.2 31-35.66 52.13-46.94 80.14.62 64.24-69.47 96.69-117.47 124.23-24.94 9.2-51.21 31.88-77.96 29.21C101.04 322.28 15.92 279.65.34 200.12Zm70.19-63.62c-23.12 75.54 24.81 169.31 109.62 137.4-23.03-55.58-61.37-98.64-109.62-137.4Zm146.5 142.36c46.95 24.67 114.71-20.5 91.54-70.18-37.31 14.91-66.45 39.92-91.54 70.18Z"
        ></path>
      </svg>
    </a>

    <nav>
      <ul class="flex items-center gap-8">
        <li class="hover:scale-110 transition duration-300 ease-in-out">
          <a
            class="text-sm hover:text-primary hover:cursor-[none] transition duration-300 ease-in-out"
            href="/guide/installation">Documentation</a
          >
        </li>
        <li
          class="hidden lg:block hover:scale-110 transition duration-300 ease-in-out"
        >
          <a
            class="text-sm hover:text-primary hover:cursor-[none] transition duration-300 ease-in-out"
            href="/components/button">Components</a
          >
        </li>
        <li class="lg:hidden">
          <Hamburguer />
        </li>
      </ul>
    </nav>
  </div>
</navbar>

<script>
  import { DOMLoaded } from "../utils";

  DOMLoaded(() => {
    const body = document.querySelector("body") as HTMLElement;
    const hamburguer = document.querySelector(
      "[data-hamburguer]"
    ) as HTMLButtonElement;
    const nav = document.querySelector("[data-nav]") as HTMLElement;

    hamburguer.addEventListener("click", () => {
      hamburguer.toggleAttribute("open");
      nav.toggleAttribute("open");
      body.classList.toggle("overflow-hidden");
    });
  });
</script>
